name: Publish Docs
on:
  push:
    branches:
      - main
      - 2.x
      - 1.x

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install PIP Dependencies
        uses: actions/setup-python@v5
        with:
          cache: 'pip'
      - run: |
          cd docs
          python -m pip install pyproject.toml

      - name: Build Docs
        run: |
          git fetch --tags
          cd docs
          sphinx-multiversion docs docs/build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './docs/build'
  deploy:
    needs: docs

    permissions:
      contents: read
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

