name: Tests
on:
  pull_request:
    branches:
      - main
      - 1.x
      - 2.x
  workflow_dispatch:

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ["8.2", "8.3", "8.4", "8.5"]
        dependency-versions: ["highest"]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup PHP and extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: xdebug
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependency-versions }}
      - name: Run linter
        run: make lint
      - name: Run unit tests
        run: make unit
      - name: Run rector tests
        run: XDEBUG_MODE=coverage vendor/bin/phpunit --group=rector --display-warnings --coverage-clover=coverage-rector.xml
      - name: Run static analysis
        run: make static
      - name: Upload coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: jimtools/jwt-auth
          files: coverage.xml,coverage-rector.xml


